.about__me__details {
  background-color: #f7f5ff;
  height: fit-content;
  width: 100%;
  margin-top: 10vw;
  display: flex;
  padding: 50px 0px;
}
.about__me__text__container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 0px 20px;
}

.about__me__details__container {
  flex-basis: 50%;
  font-family: "Montserrat", sans-serif;
}
.heading__text__about {
  font-size: 3vw;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.vector__image1 {
  height: auto;
  width: 10vw;
  position: relative;
  top: 20%;
  left: 10%;
}
.vector__image2 {
  height: auto;
  width: 8vw;
  position: relative;
  top: 50%;
  left: 35%;
}
.vector__image3 {
  height: auto;
  width: 10vw;
  position: relative;
  right: -50%;
  top: 20%;
}
.about__me__sub__text {
  font-size: 1vw;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .about__me__details {
    width: 100vw;
    margin-top: 0px;
    align-items: center;
  }
  .about__me__text__container {
    width: 100vw;
    flex-basis: auto;
  }

  .heading__text__about {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
  }
  .about__me__sub__text {
    font-weight: 400;

    font-size: 16px;

    

    background-color: #f0f0f0;
    padding: 10px 15px;
  }
  .about__me__details {
    height: fit-content;
    padding: 0;
  }
}
