.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  font-weight: 500;
  height: 80px;
}
.logo__container {
  font-family: "Lato", sans-serif;
  color: #767579;
  display: flex;
  font-size: 22px;
  font-weight: 800;
}
.logo__container__name {
  font-family: "Lato", sans-serif;
  color: #767579;
  font-size: 22px;
  font-weight: 800;
}
.nav__list__items {
  display: flex;
  width: 20%;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.home__container {
  color: #767579;
}
.home__container {
  color: #767579;
}
.rectangle__icon {
  height: 15px;
  width: 25px;
  margin-top: 7px;
  transform: rotate(90deg);
}
