.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  font-weight: 500;
  height: 6vw;
}
.logo__container {
  font-family: "Montserrat", sans-serif;

  color: #767579;
  display: flex;
  font-size: 1.3vw;
  font-weight: 800;
}
.logo__container__name {
  font-family: "Montserrat", sans-serif;
  color: #767579;
  font-size: 18px;
  font-weight: 800;
}
.nav__list__items {
  display: flex;
  width: 20%;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.home__container {
  color: #767579;
  font-size: 1.1vw
}
.home__container {
  color: #767579;
}
.rectangle__icon {
  height: 1%;
  width: 13%;
  margin-top: 2px;
  transform: rotate(90deg);
}
.hamburger__icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav__list__items {
    display: none;
  }

  .hamburger__icon {
    display: block;
    width: 15px;
    height: 25px;
  }
  .navbar__container {
    width: 100vw;
    height: 15vw;
  }
  .logo__container {
    font-size: 5vw;
    position: relative;
    right:10%
  }

  .rectangle__icon {
    height: 15px;
    width: 20px;
    margin-top: 4px;
    
  }
  
}
